<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register New Consumer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registrationForm" (ngSubmit)="register()">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Account Number <span style="color: red;">*</span></ion-label>
        <ion-input formControlName="accountNumber" type="text" placeholder="e.g., A100589"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="isFieldInvalid('accountNumber')">
        {{ getErrorMessage('accountNumber') }}
      </div>

      <ion-item>
        <ion-label position="floating">Consumer Name <span style="color: red;">*</span></ion-label>
        <ion-input formControlName="consumerName" type="text" placeholder="e.g., John Smith"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="isFieldInvalid('consumerName')">
        {{ getErrorMessage('consumerName') }}
      </div>

      <ion-item>
        <ion-label position="floating">Address <span style="color: red;">*</span></ion-label>
        <ion-textarea formControlName="consumerAddress" rows="3" placeholder="e.g., 123 Main St, Anytown"></ion-textarea>
      </ion-item>
      <div class="error-message" *ngIf="isFieldInvalid('consumerAddress')">
        {{ getErrorMessage('consumerAddress') }}
      </div>

      <ion-item>
        <ion-label position="floating">Meter Number <span style="color: red;">*</span></ion-label>
        <ion-input formControlName="meterNumber" type="text" placeholder="e.g., M52871"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="isFieldInvalid('meterNumber')">
        {{ getErrorMessage('meterNumber') }}
      </div>
    </ion-list>

    <div class="form-buttons">
      <ion-button expand="block" type="submit" [disabled]="registrationForm.invalid">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        Register Consumer
      </ion-button>

      <ion-button expand="block" fill="outline" type="button" (click)="dismissModal()">
        <ion-icon name="close-outline" slot="start"></ion-icon>
        Cancel
      </ion-button>
    </div>
  </form>
</ion-content>